-----BEGIN CERTIFICATE-----
MIIFMjCCBBqgAwIBAgISBSAKzPXczKPtu1Gi7il7Q1I1MA0GCSqGSIb3DQEBCwUA
MDMxCzAJBgNVBAYTAlVTMRYwFAYDVQQKEw1MZXQncyBFbmNyeXB0MQwwCgYDVQQD
EwNSMTEwHhcNMjUwNzIyMTI1NzU5WhcNMjUxMDIwMTI1NzU4WjAnMSUwIwYDVQQD
DBwqLmFiZHVycmFobWFuYWxnaGlmYXJpLm15LmlkMIIBIjANBgkqhkiG9w0BAQEF
AAOCAQ8AMIIBCgKCAQEAzyanEtaQ7pSAETO+gxY/QSc5Hkjr9E4dudap0si9yagK
5+p61PWkqUbHt2XsQyz/kekFkcdL7oSAMon1SzWpdERQhTGCb5LPxlJSHcV4Dj/L
L/e5E6z3QejkIWqSl7HWhNlBLHLnejQKgQO3vD0gPN7rohuk/LvpZ7NhPl2+5Z3e
U7z0qXLozJMXAyM/z/v8cTwyzrzxTjeZICTND2VNsu1YiAauEiPiCjhcSCtLfabZ
zr/8AALLAfgywRiuMPdWHjjS1PtDW0Mm+jhFLfNTDtUvriXBvvdz3KCbAqvnHWeE
H1+zp9EKPawyiG4L6UFTQ45bOr5IPoHAHIHOKKw6CQIDAQABo4ICSjCCAkYwDgYD
VR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAMBgNV
HRMBAf8EAjAAMB0GA1UdDgQWBBRsIaoUkKMFhk9TkWwK+NPhUyjHsjAfBgNVHSME
GDAWgBTFz0ak6vTDwHpslcQtsF6SLybjuTAzBggrBgEFBQcBAQQnMCUwIwYIKwYB
BQUHMAKGF2h0dHA6Ly9yMTEuaS5sZW5jci5vcmcvMEMGA1UdEQQ8MDqCHCouYWJk
dXJyYWhtYW5hbGdoaWZhcmkubXkuaWSCGmFiZHVycmFobWFuYWxnaGlmYXJpLm15
LmlkMBMGA1UdIAQMMAowCAYGZ4EMAQIBMC4GA1UdHwQnMCUwI6AhoB+GHWh0dHA6
Ly9yMTEuYy5sZW5jci5vcmcvNTQuY3JsMIIBBgYKKwYBBAHWeQIEAgSB9wSB9ADy
AHcAEvFONL1TckyEBhnDjz96E/jntWKHiJxtMAWE6+WGJjoAAAGYMmvrNAAABAMA
SDBGAiEA8rUqQFsYGAvu0LD90mdqGeBH5PDlVYNuhi9KTsmfnuwCIQDmKIIVNsE6
EaK3Mu/wj9WXzPPD8glH+1wlpaEjxHT5rgB3AMz7D2qFcQll/pWbU87psnwi6YVc
DZeNtql+VMD+TA2wAAABmDJr8w4AAAQDAEgwRgIhAPdFNRrJdBX8LBlLqJQHncNl
2wFEovO2olTWSMcenaQUAiEAyT2cHZ7wTXdbr5Arq2NqCNZrMPtZUgnVGru88YjC
6yYwDQYJKoZIhvcNAQELBQADggEBAEN6B5ADqvZrh6R+m9RHyqTpaHIkVFKRgwWc
A8s6AkIRWEN5ui3POvpDTryyzTdy65eZ1gQZx3ENdhPb5kvcybMX6qkzhQOD6seA
/Q/cPwbn5jAR7dFOTXIowtvFBCMJukpcGXZuZFOXdrkjjnUrQpLXweyDshCv/RRk
OnmtwY/tLW8orHGQF9+p05hUg2Yu6t8UpT9b3Xtnj0Fm1e0g3/Cq/SDueuB0f16p
pyP4EBVGD3ZXFzewJ26K1/urhl6UaOtCv9j3lP7kMoLPFs4dD5nstAIAym6BcwxL
LVnYRKhjCEUHVTC4JbMAuy7y6nucjz/u8a85XYYrhqCGi1X722o=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIFBjCCAu6gAwIBAgIRAIp9PhPWLzDvI4a9KQdrNPgwDQYJKoZIhvcNAQELBQAw
TzELMAkGA1UEBhMCVVMxKTAnBgNVBAoTIEludGVybmV0IFNlY3VyaXR5IFJlc2Vh
cmNoIEdyb3VwMRUwEwYDVQQDEwxJU1JHIFJvb3QgWDEwHhcNMjQwMzEzMDAwMDAw
WhcNMjcwMzEyMjM1OTU5WjAzMQswCQYDVQQGEwJVUzEWMBQGA1UEChMNTGV0J3Mg
RW5jcnlwdDEMMAoGA1UEAxMDUjExMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
CgKCAQEAuoe8XBsAOcvKCs3UZxD5ATylTqVhyybKUvsVAbe5KPUoHu0nsyQYOWcJ
DAjs4DqwO3cOvfPlOVRBDE6uQdaZdN5R2+97/1i9qLcT9t4x1fJyyXJqC4N0lZxG
AGQUmfOx2SLZzaiSqhwmej/+71gFewiVgdtxD4774zEJuwm+UE1fj5F2PVqdnoPy
6cRms+EGZkNIGIBloDcYmpuEMpexsr3E+BUAnSeI++JjF5ZsmydnS8TbKF5pwnnw
SVzgJFDhxLyhBax7QG0AtMJBP6dYuC/FXJuluwme8f7rsIU5/agK70XEeOtlKsLP
Xzze41xNG/cLJyuqC0J3U095ah2H2QIDAQABo4H4MIH1MA4GA1UdDwEB/wQEAwIB
hjAdBgNVHSUEFjAUBggrBgEFBQcDAgYIKwYBBQUHAwEwEgYDVR0TAQH/BAgwBgEB
/wIBADAdBgNVHQ4EFgQUxc9GpOr0w8B6bJXELbBeki8m47kwHwYDVR0jBBgwFoAU
ebRZ5nu25eQBc4AIiMgaWPbpm24wMgYIKwYBBQUHAQEEJjAkMCIGCCsGAQUFBzAC
hhZodHRwOi8veDEuaS5sZW5jci5vcmcvMBMGA1UdIAQMMAowCAYGZ4EMAQIBMCcG
A1UdHwQgMB4wHKAaoBiGFmh0dHA6Ly94MS5jLmxlbmNyLm9yZy8wDQYJKoZIhvcN
AQELBQADggIBAE7iiV0KAxyQOND1H/lxXPjDj7I3iHpvsCUf7b632IYGjukJhM1y
v4Hz/MrPU0jtvfZpQtSlET41yBOykh0FX+ou1Nj4ScOt9ZmWnO8m2OG0JAtIIE38
01S0qcYhyOE2G/93ZCkXufBL713qzXnQv5C/viOykNpKqUgxdKlEC+Hi9i2DcaR1
e9KUwQUZRhy5j/PEdEglKg3l9dtD4tuTm7kZtB8v32oOjzHTYw+7KdzdZiw/sBtn
UfhBPORNuay4pJxmY/WrhSMdzFO2q3Gu3MUBcdo27goYKjL9CTF8j/Zz55yctUoV
aneCWs/ajUX+HypkBTA+c8LGDLnWO2NKq0YD/pnARkAnYGPfUDoHR9gVSp/qRx+Z
WghiDLZsMwhN1zjtSC0uBWiugF3vTNzYIEFfaPG7Ws3jDrAMMYebQ95JQ+HIBD/R
PBuHRTBpqKlyDnkSHDHYPiNX3adPoPAcgdF3H2/W0rmoswMWgTlLn1Wu0mrks7/q
pdWfS6PJ1jty80r2VKsM/Dj3YIDfbjXKdaFU5C+8bhfJGqU3taKauuz0wHVGT3eo
6FlWkWYtbt4pgdamlwVeZEW+LM7qZEJEsMNPrfC03APKmZsJgpWCDWOKZvkZcvjV
uYkQ4omYCTX5ohy+knMjdOmdH9c7SpqEWBDC86fiNex+O0XOMEZSa8DA
-----END CERTIFICATE-----